film.xml

<xs:schema xmlns:tns="http://interfaces.servcies.jets.iti.gov/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://interfaces.servcies.jets.iti.gov/">
    <xs:element name="InvalidDataException" type="tns:InvalidDataException" />
    <xs:element name="geFilmActorsById" type="tns:geFilmActorsById" />
    <xs:element name="geFilmActorsByIdResponse" type="tns:geFilmActorsByIdResponse" />
    <xs:element name="getAllFilms" type="tns:getAllFilms" />
    <xs:element name="getAllFilmsResponse" type="tns:getAllFilmsResponse" />
    <xs:element name="getFilmById" type="tns:getFilmById" />
    <xs:element name="getFilmByIdResponse" type="tns:getFilmByIdResponse" />
    <xs:element name="getFilmByLength" type="tns:getFilmByLength" />
    <xs:element name="getFilmByLengthResponse" type="tns:getFilmByLengthResponse" />
    <xs:element name="getFilmCategoryById" type="tns:getFilmCategoryById" />
    <xs:element name="getFilmCategoryByIdResponse" type="tns:getFilmCategoryByIdResponse" />
    <xs:complexType name="getFilmById">
        <xs:sequence>
            <xs:element name="filmId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getFilmByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:filmDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="filmDto">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="filmId" type="xs:short" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
            <xs:element name="length" type="xs:short" minOccurs="0" />
            <xs:element name="rating" type="xs:string" minOccurs="0" />
            <xs:element name="releaseYear" type="xs:dateTime" minOccurs="0" />
            <xs:element name="rentalDuration" type="xs:byte" />
            <xs:element name="rentalRate" type="xs:decimal" minOccurs="0" />
            <xs:element name="replacementCost" type="xs:decimal" minOccurs="0" />
            <xs:element name="specialFeatures" type="xs:string" minOccurs="0" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timestamp">
        <xs:sequence>
            <xs:element name="nanos" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvalidDataException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getFilmCategoryById">
        <xs:sequence>
            <xs:element name="filmId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getFilmCategoryByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:categoryDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="categoryDto">
        <xs:sequence>
            <xs:element name="categoryId" type="xs:byte" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAllFilms">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="getAllFilmsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:filmDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getFilmByLength">
        <xs:sequence>
            <xs:element name="filmLength" type="xs:short" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getFilmByLengthResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:filmDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="geFilmActorsById">
        <xs:sequence>
            <xs:element name="filmId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="geFilmActorsByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:actorDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="actorDto">
        <xs:sequence>
            <xs:element name="actorId" type="xs:short" minOccurs="0" />
            <xs:element name="firstName" type="xs:string" minOccurs="0" />
            <xs:element name="lastName" type="xs:string" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>