WSDL/category.xml

<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://impls.servcies.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impls.servcies.jets.iti.gov/"
    name="CategoryServicesImplService">
    <import namespace="http://interfaces.servcies.jets.iti.gov/"
        location="http://localhost:9091/SakilaApplication/ws/category?wsdl=1" />
    <binding xmlns:ns1="http://interfaces.servcies.jets.iti.gov/"
        name="CategoryServicesImplPortBinding" type="ns1:CategoryServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="getAllCategories">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getCategoryById">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidDataException">
                <soap:fault name="InvalidDataException" use="literal" />
            </fault>
        </operation>
        <operation name="createCategory">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteCategoryById">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateCategoryById">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidDataException">
                <soap:fault name="InvalidDataException" use="literal" />
            </fault>
        </operation>
        <operation name="getCategoryFilmsById">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidDataException">
                <soap:fault name="InvalidDataException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="CategoryServicesImplService">
        <port name="CategoryServicesImplPort" binding="tns:CategoryServicesImplPortBinding">
            <soap:address location="http://localhost:9091/SakilaApplication/ws/category" />
        </port>
    </service>
</definitions>