XSD/address.xml

<xs:schema xmlns:tns="http://interfaces.servcies.jets.iti.gov/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://interfaces.servcies.jets.iti.gov/">
    <xs:element name="InvalidDataException" type="tns:InvalidDataException" />
    <xs:element name="getAddressByDistrict" type="tns:getAddressByDistrict" />
    <xs:element name="getAddressByDistrictResponse" type="tns:getAddressByDistrictResponse" />
    <xs:element name="getAddressById" type="tns:getAddressById" />
    <xs:element name="getAddressByIdResponse" type="tns:getAddressByIdResponse" />
    <xs:element name="getAddressByPostalCode" type="tns:getAddressByPostalCode" />
    <xs:element name="getAddressByPostalCodeResponse" type="tns:getAddressByPostalCodeResponse" />
    <xs:complexType name="getAddressByPostalCode">
        <xs:sequence>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAddressByPostalCodeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:addressDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addressDto">
        <xs:sequence>
            <xs:element name="address" type="xs:string" minOccurs="0" />
            <xs:element name="address2" type="xs:string" minOccurs="0" />
            <xs:element name="addressId" type="xs:short" minOccurs="0" />
            <xs:element name="city" type="tns:cityDto" minOccurs="0" />
            <xs:element name="district" type="xs:string" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
            <xs:element name="location" type="xs:base64Binary" minOccurs="0" />
            <xs:element name="phone" type="xs:string" minOccurs="0" />
            <xs:element name="postalCode" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cityDto">
        <xs:sequence>
            <xs:element name="city" type="xs:string" minOccurs="0" />
            <xs:element name="cityId" type="xs:short" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timestamp">
        <xs:sequence>
            <xs:element name="nanos" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvalidDataException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAddressById">
        <xs:sequence>
            <xs:element name="addressId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAddressByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:addressDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAddressByDistrict">
        <xs:sequence>
            <xs:element name="district" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAddressByDistrictResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:addressDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>