XSD/category.xml

<xs:schema xmlns:tns="http://interfaces.servcies.jets.iti.gov/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://interfaces.servcies.jets.iti.gov/">
    <xs:element name="InvalidDataException" type="tns:InvalidDataException" />
    <xs:element name="createCategory" type="tns:createCategory" />
    <xs:element name="createCategoryResponse" type="tns:createCategoryResponse" />
    <xs:element name="deleteCategoryById" type="tns:deleteCategoryById" />
    <xs:element name="deleteCategoryByIdResponse" type="tns:deleteCategoryByIdResponse" />
    <xs:element name="getAllCategories" type="tns:getAllCategories" />
    <xs:element name="getAllCategoriesResponse" type="tns:getAllCategoriesResponse" />
    <xs:element name="getCategoryById" type="tns:getCategoryById" />
    <xs:element name="getCategoryByIdResponse" type="tns:getCategoryByIdResponse" />
    <xs:element name="getCategoryFilmsById" type="tns:getCategoryFilmsById" />
    <xs:element name="getCategoryFilmsByIdResponse" type="tns:getCategoryFilmsByIdResponse" />
    <xs:element name="updateCategoryById" type="tns:updateCategoryById" />
    <xs:element name="updateCategoryByIdResponse" type="tns:updateCategoryByIdResponse" />
    <xs:complexType name="updateCategoryById">
        <xs:sequence>
            <xs:element name="categoryId" type="xs:int" />
            <xs:element name="categoryName" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateCategoryByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:categoryDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="categoryDto">
        <xs:sequence>
            <xs:element name="categoryId" type="xs:short" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timestamp">
        <xs:sequence>
            <xs:element name="nanos" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvalidDataException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAllCategories">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="getAllCategoriesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:categoryDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteCategoryById">
        <xs:sequence>
            <xs:element name="categoryId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteCategoryByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createCategory">
        <xs:sequence>
            <xs:element name="category" type="tns:categoryDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createCategoryResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:categoryDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCategoryFilmsById">
        <xs:sequence>
            <xs:element name="categoryId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCategoryFilmsByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:filmDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="filmDto">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="filmId" type="xs:short" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
            <xs:element name="length" type="xs:short" minOccurs="0" />
            <xs:element name="rating" type="xs:string" minOccurs="0" />
            <xs:element name="releaseYear" type="xs:dateTime" minOccurs="0" />
            <xs:element name="rentalDuration" type="xs:byte" />
            <xs:element name="rentalRate" type="xs:decimal" minOccurs="0" />
            <xs:element name="replacementCost" type="xs:decimal" minOccurs="0" />
            <xs:element name="specialFeatures" type="xs:string" minOccurs="0" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCategoryById">
        <xs:sequence>
            <xs:element name="categoryId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCategoryByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:categoryDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>