XSD/country.xml

<xs:schema xmlns:tns="http://interfaces.servcies.jets.iti.gov/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://interfaces.servcies.jets.iti.gov/">
    <xs:element name="InvalidDataException" type="tns:InvalidDataException" />
    <xs:element name="getCountryById" type="tns:getCountryById" />
    <xs:element name="getCountryByIdResponse" type="tns:getCountryByIdResponse" />
    <xs:element name="getCountryCities" type="tns:getCountryCities" />
    <xs:element name="getCountryCitiesResponse" type="tns:getCountryCitiesResponse" />
    <xs:complexType name="getCountryCities">
        <xs:sequence>
            <xs:element name="countryId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCountryCitiesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:cityDto" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cityDto">
        <xs:sequence>
            <xs:element name="city" type="xs:string" minOccurs="0" />
            <xs:element name="cityId" type="xs:short" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timestamp">
        <xs:sequence>
            <xs:element name="nanos" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvalidDataException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCountryById">
        <xs:sequence>
            <xs:element name="countryId" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCountryByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:countryDto" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="countryDto">
        <xs:sequence>
            <xs:element name="country" type="xs:string" minOccurs="0" />
            <xs:element name="countryId" type="xs:short" minOccurs="0" />
            <xs:element name="lastUpdate" type="tns:timestamp" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>